<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>351BEBD61E5BCC28006FE110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352BBC461E5E78D700703DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352BBC541E5E78EA00703DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D14621E5E3B7700ADE590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D14A51E5E3FDC00ADE590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35B711CE1E5E7AD2001EDA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5ADFBC81DDCC7840011824B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5ADFBD11DDCC7840011824B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
